<div class="overview">

  <div class="overview-header">
    <div class="overview-title">Overview</div>
    <div class="overview-details">
      Objective: Total International Stock Index Fund seeks to track the performance of a benchmark 
      index that measures the investment return of stocks issued by companies located in developed and emerging markets, 
      excluding the United States.
    </div>
  </div>
  
  <div class="overview-container">
  
    <div class="overview-left">

      <div class="overview-facts">

        <div class="overview-facts-header">Fund facts</div>
  
        <div class="overview-facts-row">
          <div class="overview-facts-box">
            <div class="overview-facts-title">YTD Returns (MP)</div>
            <div class="overview-facts-numbers">4.39%</div>
            <div class="overview-facts-date">as of 01/22/2021</div>
          </div>

          <div class="overview-facts-box">
            <div class="overview-facts-title">YTD Returns (NAV)</div>
            <div class="overview-facts-numbers">3.96%</div>
            <div class="overview-facts-date">as of 01/22/2021</div>
          </div>
        </div>
            
        <div class="overview-facts-row">
          <div class="overview-facts-box">
            <div class="overview-facts-title">Dividend Yield</div>
            <div class="overview-facts-numbers">2.38%</div>
          </div>

          <div class="overview-facts-box">
            <div class="overview-facts-title">Holdings</div>
            <div class="overview-facts-numbers">7,386</div>
            <div class="overview-facts-date">as of 12/31/2020</div>
          </div>
        </div>

        <div class="overview-facts-row">
          <div class="overview-facts-box">
            <div class="overview-facts-title">Inception Date</div>
            <div class="overview-facts-numbers">01/26/2011</div>
          </div>

          <div class="overview-facts-box">
            <div class="overview-facts-title">Total Net Assets</div>
            <div class="overview-facts-numbers">$416.9 B</div>
            <div class="overview-facts-date">as of 12/31/2020</div>
          </div>
          
        </div>

        <div class="overview-facts-row">
          <div class="overview-facts-box">
            <div class="overview-facts-title">Net Assets for VXUS</div>
            <div class="overview-facts-numbers">$38.5 B</div>
            <div class="overview-facts-date">as of 12/31/2020</div>
          </div>

          <div class="overview-facts-box">
            <div class="overview-facts-title">Turnover Rate</div>
            <div class="overview-facts-numbers">7.20%</div>
            <div class="overview-facts-date">Fiscal Year-end 10/31/2020</div>
          </div>
        </div>

        <div class="overview-facts-row">
          <div class="overview-facts-box">
            <div class="overview-facts-title">CUSIP</div>
            <div class="overview-facts-numbers">921909768</div>
          </div>
          <div class="overview-facts-box">
            <div class="overview-facts-title">Lipper Peer Average</div>
            <div class="overview-facts-numbers">1.263%</div>
            <div class="overview-facts-date">Expense ratio 12/31/2019</div>
          </div>
        </div>

        <div class="overview-facts-row">
          <div class="overview-facts-box">
            <div class="overview-facts-title">Designation</div>
            <div class="overview-facts-details">International Large Blend</div>
          </div>
  
          <div class="overview-facts-box">
            <div class="overview-facts-title">Benchmark</div>
            <div class="overview-facts-details">FTSE Global All Cap ex US Index</div>
          </div>
        </div>
           
      </div>


      <div class="overview-trade">
        <div class="overview-trade-header">Trading</div>
  
          <div class="overview-trade-row">

            <div class="overview-trade-box">
              <div class="overview-trade-title">IOV</div>
              <div class="overview-trade-numbers">VXUS.IV</div>
            </div>

            <div class="overview-trade-box">
              <div class="overview-trade-title">Outstanding Shares</div>
              <div class="overview-trade-numbers">638,018,779.1</div>
              <div class="overview-trade-date">as of 12/31/2020</div>
            </div>
          </div>
  
          <div class="overview-trade-row">
            <div class="overview-trade-box">
              <div class="overview-trade-title">ETF Exchange</div>
              <div class="overview-trade-details">National Assocation of Securities Dealers Automated Quotations</div>
            </div>
          </div>
      </div>
  

    </div>
    
  
    <div class="overview-right">
      <div class="overview-invest">
        <div class="overview-invest-title">Investment approach</div>
        <div class=overview-invest-details>Seeks to track the performance of the FTSE Global All Cap ex US Index.</div>
        <div class=overview-invest-details>Broad exposure across developed and emerging non-U.S. equity markets.</div>
        <div class=overview-invest-details>Passively managed.</div>
        <div class=overview-invest-details>Fund remains fully invested.</div>
        <div class=overview-invest-details>Low expenses minimize net tracking error.</div>
      </div>
  
      <div class="overview-fund">
        <div class="overview-fund-title">Fund management</div>
        <div class="overview-fund-details">Vanguard Equity Index Group</div>
      </div>
    </div>
   
  
  </div>

</div>
