<div class="banner">

  <div class="banner-left"> 
    <div class="banner-title">VXUS</div>
    <div class="banner-desc">Total International Stock ETF</div>
    <div class="banner-details">Also available as a <span class="banner-span">mutual fund</span></div>
    
    <div class="banner-buttons">
      <button class="banner-button">Summary prospectus</button>
      <button class="banner-button">Fact sheet</button>
    </div>

    <button class="banner-otherbutton">Compare product</button>
  </div>

  <div class="banner-right">
    <div class="banner-row">
      <div class="banner-row-container">
        <div class="banner-row-title">Market Price</div>
        <div class="banner-row-number">$62.80</div>
        <div class="banner-row-date">as of 01/22/2021</div>
      </div>

      <div class="banner-row-container">
        <div class="banner-row-title">Market Price Change</div>
        <div class="banner-row-number">-$0.42 (-0.66%)</div>
        <div class="banner-row-date">as of 01/22/2021</div>  
      </div>
    </div>
 
    <div class="banner-row">
      <div class="banner-row-container">
        <div class="banner-row-title">NAV</div>
        <div class="banner-row-number">$62.75</div>
        <div class="banner-row-date">as of 01/22/2021</div>
      </div>
      <div class="banner-row-container">
        <div class="banner-row-title">NAV CHANGE</div>
        <div class="banner-row-number">-$0.39 (-0.62%)</div>
        <div class="banner-row-date">as of 01/22/2021</div> 
      </div> 
    </div>

    <div class="banner-row">
      <div class="banner-row-container">
        <div class="banner-row-title">Expense Ratio</div>
        <div class="banner-row-number">0.08%</div>
        <div class="banner-row-date">as of 02/27/2020</div>
      </div>
      <div class="banner-row-container">
        <div class="banner-row-title">Management Style</div>
        <div class="banner-row-details">Index</div>
      </div>
    </div>

  </div>

</div>