<div class="perf">
  <div class="perf-title">Performance</div>
  <div class="perf-details">
    <div class="perf-desc">Total returns</div>
    <button class="perf-button">Export returns data</button>
  </div>
  <div class="perf-expense">Expense ratio 0.08%</div>

  <div class="perf-bar">
    <div class="perf-option">Summary</div>
    <div class="perf-option">Quarterly</div>
    <div class="perf-option">Annually</div>
    <div class="perf-option">Cumulative</div>
  </div>

  <div class="perf-graph">

  </div>



 
</div>

